* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Libertinus Serif", serif;
}

body {
    background: rgb(222, 145, 248);
}

.logo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 10px;
}

main {
    width: 375px;
    border-radius: 20px;
    background: #ffffff;
    margin: 0 auto 40px;   
    padding: 44px 24px 23px;
}

label {
    color: #777;
    font-weight: 400;
    font-size: 14px;
}

select, input {
    border-radius: 4px;
    border: 1px solid #BBB;
    background: #FFF;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    padding-left: 18px;
    font-weight: 700;
    font-size: 16px;
    color: #555555;
    cursor: pointer;
}

button {
    border-radius: 5px;
    background: #772FD3;
    width: 100%;
    border: none;
    height: 48px;
    color: #FFF;
    font-size: 30px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid #772FD3;
    border-radius: 20px;
    margin-top: 36px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.seta {
    margin: 15px 0 ;
}

.currency-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: #777;
    font-size: 14px;
}

.currency-value, currency-value-to-convert {
 color: #555555;
 font-size: 20px;
 font-weight: 700;
}